.text-primary{
    color: #fac207 !important;
}
.bg-primary{
    background-color: #fac207 !important;
}
.inline-list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-right{
    align-items: flex-end;
}
.heading{
    flex-basis: 30%;
}
.heading img{
    height: 90px;
}
.nav-right{
    flex-basis: 70%;
}
.nav-right ul{
    display: flex;
    margin-top: 2rem;
    justify-content: space-around;

}
@media screen  and (max-width: 700px){
    .nav-right ul{
        margin-top: 0;
    }
    .nav .heading{
        flex-basis: 100%;
        text-align: center;
    }
    .nav-right{
        flex-basis: 100%;
    }
    
    .nav>div{
        flex-wrap: wrap;
    }
}

.footer{
    background-color: #222831;
}
.social-links div{
    margin-left: auto;
}